h2, p{
    text-align: center;
    padding: 20px;
}

.nav-link{
    text-transform: uppercase;
}

.nav-link:hover{
    color: palevioletred !important;
}

footer{
    margin-top: 30px;
}